@tailwind base;
@tailwind components;
@tailwind utilities;

a.active {
    background: linear-gradient(to right, #facc15, #fbbf24, #f59e0b);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    font-weight: 600;
    font-size: large;
  }
